

/* set style for About intro */
#intro {
    background-color: #DDD;
    margin: 1em 0 1em 0;
    padding: .75em;
    text-align: center;
    border: 1px solid #CCC;
    font-size: 18px;
}

#intro p {
    margin: .3em 0 .3em 0;
}

/* set default font size */
html {
    font-size: 16px;
}


div.navbar-header {
    padding: 1rem;
}

body > nav > div > ul {
    padding: 1rem;
    font-size: 16px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: black;
}

/* remove border edges in navbar */
@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}

/* set navbar background color */
.bg-light {
    background-color: #72a98f !important;
}

.navbar-default {
    background-color: #72a98f !important;
}

/* set font styles for summary well */
#summary-fonts {
    font-weight: lighter;
    padding-right: 0.5rem;
}

/* center navbar */
.navbar-brand {
    height: auto !important;
}

/* center and inline summary numbers */
#summary-numbers {
    display: inline-flex;
    align-items: baseline;
}